* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	font-family: 'Roboto', sans-serif;
}

a {text-decoration: none;}
img {max-width: 100%;display: block;}
ul,li {list-style-type: none;}
html, body {overflow-x: hidden;}

body {
  padding: 0 2%;
  background-color: tomato;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #363535;
}

header > a {
  color: #363535;
}

.work {
  width: 80%;
  margin-bottom: 20px;
}

.left {
  margin-left: auto;
}
