/**general context**/
:root {
	--neon-text-color: #f7dc68;
  --neon-border-color: #2e9599;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {text-decoration: none;}
img {max-width: 100%;display: block;}
ul,li {list-style-type: none;}
html { overflow-x: hidden;}
body {
	background: #0f0f0f;
	height: 100%;
	padding: 0;
	overflow-x: hidden;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50vh;
	display: block;
	z-index: -2;
	margin: 0;
}

/**
loader
**/
.loader-wraper {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100vw;
	background: #000;
}

.loader {
	position: relative;
	-webkit-box-reflect: below -12px linear-gradient( transparent, rgba( 0, 0, 0, 0.2));
}

.loader span {
	position: relative;
	display: inline-block;
	color: #fff;
	font-size: 50px;
	font-family: 'Goldman', cursive;
	text-transform: uppercase;
	animation: animate 1s ease-in-out infinite;
	animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
	0% {
		transform: translateY(0px);
	}
	20% {
		transform: translateY(-20px);
	}
	40%, 100% {
		transform: translateY(0px);
	}
}

/**
header
**/
header {
	position: fixed;
	top: 0;
	z-index: 999;
	font-family: 'Poppins', sans-serif;
}

input[type=checkbox] {
	display: none;
}

/*menu hamburger checked*/
input:checked ~ label .hamburger {
	transform: rotate(45deg);
}

input:checked ~ label .hamburger:nth-of-type(1)  {
	transform: rotate(135deg);
	margin-bottom: -5px;
}

input:checked ~ label .hamburger:nth-of-type(3) {
	transform: rotate(135deg);
	margin-top: -5px;
}

/*menu bg checked*/
input:checked ~ label .bg-blur {
	display: block;
}

/*menu links checked*/
input:checked ~ label .link-one {
	position: absolute;
		top: 20vh;
		left: 60vw;
		transition: 0.6s ease-in-out;
}
input:checked ~ label .link-two {
	position: absolute;
		top: 5vh;
		left: 20vw;
		transition: 0.6s ease-in-out;
}
input:checked ~ label .link-three {
	position: absolute;
		top: 40vh;
		left: 5vw;
		transition: 0.6s ease-in-out;
}
input:checked ~ label .link-four {
	position: absolute;
		top: 50vh;
		left: 70vw;
		transition: 0.6s ease-in-out;
}

/**menu-links/background*/
label header {
	cursor: pointer;
}

.hamburger-wraper{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: -75px;
	margin-left: -75px;
	width: 150px;
	height: 150px;
	background: #0ff;
	border-radius: 50%;
}

.hamburger {
	position: relative;
	top: 20%;
	left: 20%;
	width: 30px;
	height: 5px;
	background: #000;
	border-radius: 10px;
	transition: 0.4s linear;
}

.hamburger:nth-of-type(1){
	margin-bottom: 5px;
}

.hamburger:nth-of-type(3){
	margin-top: 5px;
}

.bg-blur {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: rgba(255,255,255,0.3);
	height: 100vh;
	backdrop-filter: blur(5px);
	cursor: default;
	display: none;
	z-index: -1;
}

.menu-link{
	width: 150px;
	height: 150px;
}

.menu-link a {
	font-family: 'Poppins', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #0ff;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	color: #202020;
}

.link-one{
	position: absolute;
	top: -140px;
	left: -140px;
}

.link-two {
	position: absolute;
	top: -140px;
	left: -140px;
}
.link-three {
	position: absolute;
	top: -140px;
	left: -140px;
}
.link-four {
	position: absolute;
	top: -140px;
	left: -140px;
}

/**
name svg
**/
.name{
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 100%;
	max-width: 600px;
	color: #0ff;
	background-color: transparent;
	padding: 30px;
}
.name > svg{
	stroke-width: 1px;
	stroke: #0ff;
	stroke-dashoffset: 1000;
	stroke-dasharray: 1000;
	animation: nomesvg 10s ease-in-out forwards;
	animation-delay: 2s;
}
.name h2{
	margin-top: -30px;
	font-size: 20px;
	font-style: italic;
	text-align: center;
	cursor: default;
}
@keyframes nomesvg{
	0%{stroke-dashoffset: 1000;}
	50%{stroke-dashoffset: 0;}
	100%{stroke-dashoffset: 0;}
}

/**
slider
**/
#slider {
	z-index: -1;
	margin-top: calc(50vh - 50px);
}

.slider {
	width: 100%;
}

.slider input {
  display: none;
}

.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 450px;
  perspective: 1000px;
	overflow-x: hidden;
}

.testimonials .item {
  top: 10px;
  position: absolute;
  box-sizing: border-box;
  width:50vh;
  text-align: center;
  transition: transform 0.4s;
  transform-style: preserve-3d;
  box-shadow: 0 0 10px #0ff;
  user-select: none;
	cursor: pointer;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots label {
  display: block;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #413B52;
  margin: 7px;
  transition: transform 0.2s, color 0.2s;
}

/* First */
#t-1:checked ~ .dots label[for="t-1"] {
  transform: scale(2);
  background-color: #fff;
}
#t-1:checked ~ .dots label[for="t-2"] {
  transform: scale(1.5);
}
#t-1:checked ~ .testimonials label[for="t-1"] {
  z-index: 4;
}
#t-1:checked ~ .testimonials label[for="t-2"] {
  transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
  z-index: 3;
}
#t-1:checked ~ .testimonials label[for="t-3"] {
  transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
  z-index: 2;
}
#t-1:checked ~ .testimonials label[for="t-4"] {
  transform: translateX(900px) translateZ(-270px) rotateY(-35deg);
  z-index: 1;
}
#t-1:checked ~ .testimonials label[for="t-5"] {
  transform: translateX(1200px) translateZ(-360px) rotateY(-45deg);
}

/* Second */
#t-2:checked ~ .dots label[for="t-1"] {
  transform: scale(1.5);
}
#t-2:checked ~ .dots label[for="t-2"] {
  transform: scale(2);
  background-color: #fff;
}
#t-2:checked ~ .dots label[for="t-3"] {
  transform: scale(1.5);
}
#t-2:checked ~ .testimonials label[for="t-1"] {
  transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
}
#t-2:checked ~ .testimonials label[for="t-2"] {
  z-index: 3;
}
#t-2:checked ~ .testimonials label[for="t-3"] {
  transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
  z-index: 2;
}
#t-2:checked ~ .testimonials label[for="t-4"] {
  transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
  z-index: 1;
}
#t-2:checked ~ .testimonials label[for="t-5"] {
  transform: translateX(900px) translateZ(-270px) rotateY(-35deg);
}

/* Third */
#t-3:checked ~ .dots label[for="t-2"] {
  transform: scale(1.5);
}
#t-3:checked ~ .dots label[for="t-3"] {
  transform: scale(2);
  background-color: #fff;
}
#t-3:checked ~ .dots label[for="t-4"] {
  transform: scale(1.5);
}
#t-3:checked ~ .testimonials label[for="t-1"] {
  transform: translateX(-600px) translateZ(-180px) rotateY(25deg);
}
#t-3:checked ~ .testimonials label[for="t-2"] {
  transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
}
#t-3:checked ~ .testimonials label[for="t-3"] {
  z-index: 3;
}
#t-3:checked ~ .testimonials label[for="t-4"] {
  transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
  z-index: 2;
}
#t-3:checked ~ .testimonials label[for="t-5"] {
  transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
}

/* Fourth */
#t-4:checked ~ .dots label[for="t-3"] {
  transform: scale(1.5);
}
#t-4:checked ~ .dots label[for="t-4"] {
  transform: scale(2);
  background-color: #fff;
}
#t-4:checked ~ .dots label[for="t-5"] {
  transform: scale(1.5);
}
#t-4:checked ~ .testimonials label[for="t-1"] {
  transform: translateX(-900px) translateZ(-270px) rotateY(35deg);
}
#t-4:checked ~ .testimonials label[for="t-2"] {
  transform: translateX(-600px) translateZ(-180px) rotateY(25deg);
}
#t-4:checked ~ .testimonials label[for="t-3"] {
  transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
  z-index: 2;
}
#t-4:checked ~ .testimonials label[for="t-4"] {
  z-index: 3;
}
#t-4:checked ~ .testimonials label[for="t-5"] {
  transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
}

/* Fifth */
#t-5:checked ~ .dots label[for="t-4"] {
  transform: scale(1.5);
}
#t-5:checked ~ .dots label[for="t-5"] {
  transform: scale(2);
  background-color: #fff;
}
#t-5:checked ~ .testimonials label[for="t-1"] {
  transform: translateX(-1200px) translateZ(-360px) rotateY(45deg);
}
#t-5:checked ~ .testimonials label[for="t-2"] {
  transform: translateX(-900px) translateZ(-270px) rotateY(35deg);
  z-index: 1;
}
#t-5:checked ~ .testimonials label[for="t-3"] {
  transform: translateX(-600px) translateZ(-180px) rotateY(25deg);
  z-index: 2;
}
#t-5:checked ~ .testimonials label[for="t-4"] {
  transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
  z-index: 3;
}
#t-5:checked ~ .testimonials label[for="t-5"] {
  z-index: 4;
}

/**
about-me
**/
.about-me {
	font-family: 'Poppins', sans-serif;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
	background: #202020;
}

.about-me:before {
	content: '';
	width: 100%;
	height: 100px;
	background: #202020;
	border-radius: 30% 90% 0 0/ 100% 100% 0 0;
	margin-top: -100px;
}

.about-me h2 {
	position: relative;
	font-size: 40px;
	color: #0f0f0f;
	-webkit-text-stroke: 1px #383d52;
	text-transform: uppercase;
}

.about-me h2::before {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	color: #0ff;
	border-right: 2px solid #0ff;
	overflow: hidden;
	animation: text-animate 6s linear infinite;
}

@keyframes text-animate {
	0%, 10%, 100% {
		width: 0;
	}
	70%, 90% {
		width: 100%;
	}
}

/**photo**/
.photo {
	position: relative;
	margin: 50px 0;
	width: 300px;
	height: 300px;
	transition: 0.5s;
	border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
	background: url(../img/rafael.jpg) top no-repeat;
	background-size: cover;
}

.photo span:nth-child(1) {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 2px solid green;
	border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
	animation: animate-photo 6s linear infinite;
	transition: 0.5s;
}

.photo span:nth-child(2) {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 2px solid blue;
	border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
	animation: animate-photo 4s linear infinite;
	transition: 0.5s;
}

.photo span:nth-child(3) {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 2px solid red;
	border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
	animation: animate-photo2 10s linear infinite;
	transition: 0.5s;

}
.photo span:nth-child(4) {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 2px solid #0ff;
	border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
	animation: animate-photo 2s linear infinite;
	transition: 0.5s;
}

@keyframes animate-photo {
	0% {
		transform: rotate(0deg);
	}
	0% {
		transform: rotate(360deg);
	}
}
@keyframes animate-photo2 {
	0% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

/**description**/
.description p {
	max-width: 500px;
	color: #ccc;
	font-family: 'Roboto';
	margin-bottom: 100px;
	padding: 0 20px;
	text-align: center;
}

/**
skills
**/
.skills {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 100px;
	border-radius: 90% 30% 0 0/ 100% 100% 0 0;
}

.skills:before {
	content: '';
	width: 100%;
	height: 100px;
	background: #0f0f0f;
	border-radius: 90% 30% 0 0/ 100% 100% 0 0;
	position: relative;
	top: -70px;
}

.skills h2 {
	font-family: 'Poppins', sans-serif;
	position: relative;
	font-size: 40px;
	color: #202020;
	-webkit-text-stroke: 1px #383d52;
	text-transform: uppercase;
	margin-bottom: 50px;
}

.skills h2::before {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	color: #0ff;
	border-right: 2px solid #0ff;
	overflow-x: hidden;
	animation: text-animate 6s linear infinite;
}
/**skills spliting**/
.circle {
	font-family: monospace;
	transform-style: preserve-3d;
	animation: animate-skills 8s linear infinite;
	z-index: 0; /**debug**/
}

.circle .char {
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	color: #35146f;
	font-size: 4em;
	padding: 5px 12px;
	border-top: 4px solid #35146f;
	border-bottom: 4px solid #35146f;
	transform-style: preserve-3d;
	transform-origin: center;
	transform: rotateY(calc(var(--char-index) * 12deg)) translateZ(250px);
	overflow-x: hidden;
	z-index: 0; /**debug**/
}

@keyframes animate-skills {
	0% {
		transform: perspective(1000px) rotateY(360deg) rotateX(15deg);
	}
	100% {
		transform: perspective(1000px) rotateY(0deg) rotateX(15deg);
	}
}

.skills p {
	max-width: 500px;
	color: #ccc;
	font-family: 'Roboto';
	position: relative;
	top: 230px;
	margin-bottom: 200px;
	padding: 0 20px;
	text-align: center;
}

/**
contact form
**/
.contact {
	z-index: -1;
	background: #202020;	
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 200px;
	background: #202020;
}

.contact:before {
	content: '';
	width: 100%;
	height: 100px;
	background: #202020;
	border-radius: 30% 90% 0 0/ 100% 100% 0 0;
	margin-top: -100px;
}

.contact h2 {
	font-family: 'Poppins', sans-serif;
	position: relative;
	font-size: 40px;
	color: #202020;
	-webkit-text-stroke: 1px #383d52;
	text-transform: uppercase;
	margin-bottom: 50px;
}

.contact h2::before {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	color: #0ff;
	border-right: 2px solid #0ff;
	overflow-x: hidden;
	animation: text-animate 6s linear infinite;
}

/**form**/
.contact > form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
}

.contact > form > h3 {
	color: #ccc;
	margin-bottom: 20px;
	font-size: 26px;
}

.contact > form > label > input {
	width: 280px;
	padding:10px;
	margin-bottom: 6px;
	border: none;
	border-radius: 20px;
	background: rgba(90, 90, 90, 0.4);
	font-size: 16px;
	outline: none;
	color: #0ff;
}

.contact > form > textarea {
	width: 280px;
	height: 150px;
	padding:16px;
	margin-bottom: 10px;
	border: none;
	border-radius: 20px;
	background: rgba(90, 90, 90, 0.4);
	font-size: 16px;
	outline: none;
	color: #0ff;
	resize: none;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

.contact > form > button {
	width: 100px;
	height: 40px;
	padding:2px;
	margin-bottom: 16px;
	border: none;
	border-radius: 20px;
	background: rgba(90, 90, 90, 0.9);
	font-size: 16px;
	outline: none;
	color: #0ff;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

.contact > #status {
	text-align: center;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	border-radius: 10px;
	padding: 10px;
}

#status.success{
	background-color: rgba(211,250,153,0.7);
	animation: status 4s ease forwards;
}
#status.error{
	background-color: rgba(250,129,92,0.7);
	animation: status 4s ease forwards;
}

.contact p {
	font-family: 'Roboto', sans-serif;
	color: #ccc;
	margin-bottom: 20px;
}

/**social media box**/
.social-media{
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 300px;
	width: 100%;
	margin-bottom: 100px;
}

.social-media a{
	margin: 10px;
	padding-bottom: 20px;
	background-color: rgba(0,0,0,0.1);
	border-radius: 50%;
	box-shadow: 0 5px 15px -5px white;
	-moz-box-shadow: 0 5px 15px -5px white;
	-webkit-box-shadow: 0 5px 15px -5px white;
}

.social-media i{
	font-size: 35px;
	color: rgba(255, 255, 255, 0.61);
	margin: 20px;
	transition: 0.3s linear;
}

.social-media a:hover {
	box-shadow: 0 10px 15px -2px white;
}

.social-media a:hover > i{
	color: rgba(255,255,255,1);
	text-shadow: 0px 0px 17px rgba(255, 255, 255, 1);
}

/**
pre-footer
**/
.pre-footer {
	position: relative;
	background: #202020;
	height: 100px;
}

.wave {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background: url(../img/wave.png);
	background-size: 1000px 100px;
}

.wave.wave1 {
	animation: animate-footer 30s linear infinite;
	/* z-index: 1000; */
	opacity: 1;
	animation-delay: 0s;
	bottom: 0;
}
.wave.wave2 {
	animation: animate-footer2 15s linear infinite;
	/* z-index: 999; */
	opacity: 0.5;
	animation-delay: -5s;
	bottom: 10px;
}
.wave.wave3 {
	animation: animate-footer 20s linear infinite;
	/* z-index: 998; */
	opacity: 0.2;
	animation-delay: -2s;
	bottom: 15px;
}
.wave.wave4 {
	animation: animate-footer 5s linear infinite;
	/* z-index: 997; */
	opacity: 0.7;
	animation-delay: -2s;
	bottom: 20px;
}

@keyframes animate-footer {
	0% {
		background-position-x: 0;
	}
	100% {
		background-position-x: 1000px;
	}
}
@keyframes animate-footer2 {
	0% {
		background-position-x: 0;
	}
	100% {
		background-position-x: -1000px;
	}
}

/**
footer
**/
footer {
	z-index: 1;
	background-color: #fff;
	width: 100%;
	display: flex;
	padding: 10px 20px;
	justify-content: space-between;
}

footer p {
	font-family: 'Roboto', sans-serif;
}


/**animations**/
.animate__animated.animate__zoomInDown{
	--animate-duration: 1s;
}

/**form**/
@keyframes status{
	0%{
		opacity: 1;
		pointer-events: all;
	}
	90%{
		opacity: 1;
		pointer-events: all;
	}
	100%{
		opacity: 0;
		pointer-events: none;
	}
}

/**
responsive
**/

@media (max-width: 426px) {
	/**header**/

	input:checked ~ label .link-four {
		position: absolute;
			top: 60vh;
			left: 60vw;
			transition: 0.6s ease-in-out;
	}

	.hamburger-wraper{
		margin-top: -50px;
		margin-left: -50px;
		width: 100px;
		height: 100px;
	}
	
	.hamburger {
		position: relative;
		top: 20%;
		left: 20%;
		width: 20px;
		height: 5px;
		background: #000;
		border-radius: 10px;
		transition: 0.4s linear;
	}
	
	.hamburger:nth-of-type(1){
		margin-bottom: 2px;
	}
	
	.hamburger:nth-of-type(3){
		margin-top: 2px;
	}
	
	.menu-link{
		width: 100px;
		height: 100px;
	}

	/**name svg**/
	.name h2{
		margin-top: -20px;
		font-size: 16px;
	}

	/**slider**/
		/**conferir como esta se comportando apos deploy**/

	/**
	about
	**/
	.photo {
		width: 200px;
		height: 200px;
	}

	/**
	footer
	**/
	footer {
		flex-direction: column;
	}

	footer p {
		font-size: 14px;
		text-align: center;
		margin-bottom: 10px;
	}
	
}