/**CONTEXTO GERAL**/
*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-repeat: no-repeat;
}
    html,body{height: 100%;}
    a{text-decoration: none;}
    img{max-width: 100%;display: block;}
    .clear{clear: both;}
    a{text-decoration: none;}
    ul,li{list-style-type: none;}

/**AUX CLASSES**/
.center{
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;}
.clear{clear: both;}
.show{display: block !important;}
.hide{display: none !important;}
.zfront{z-index: 1 !important;}
.zback{z-index: none !important;}

/**INDEX.HTML**/
/**BACKGROUND**/
section.main{
    background-image: url(../img/bg.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    display: flex;
}
/**LATERAL-MENU**/
.menu-desktop{
    width: 60px;
    height: 100%;
    background-color: rgba(0,0,0,0.88);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid rgb(60,60,60);
}
.icons input{
    display: none;
}
.icons input:checked ~ label #menu-toggle{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}
.icons input:checked ~ label #menu-toggle .firstline{
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    position: relative;
    top: 14px;
}
.icons input:checked ~ label #menu-toggle .thirdline{
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    position: relative;
    top: -12px;
}
.menu-wraper{
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}
.firstline, .secondline, .thirdline{
    width: 35px;
    border-radius: 20px;
    height: 3px;
    background-color: white;
    margin: 10px auto;
    transition: 0.7s ease-in-out;
}
.icons > i:nth-of-type(1){
    border-top: 1px solid rgb(60,60,60);
}
.icons{
    text-align: center;
}
.icons i{
    font-size: 40px;
    color: white;
    padding: 20px 0;
    cursor: pointer;
    text-align: center;
    transition: 1s;
}
.icons p{
    font-size: 12px;
    font-weight: bold;
    position: relative;
    top: -23px;
    left: -60px;
    transition: 1s;
}
.icons i:hover {
    color: transparent;
}
.menu-desktop i:hover > p{
    color: #03e9f4;
    position: relative;
    top: -23px;
    left: 0;
}
.clock{
    background-color: transparent;
    border-top: 1px solid rgb(60,60,60);
    color: white;
    font-size: 18px;
    padding-top: 15px;
    margin: 20px 8px;
    cursor: default;
}
/**MENU-CLICK**/
.menu-large-wraper{
    display: none;
    z-index: 3;
}
.menu-large{
    width: 240px;
    height: 275px;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 19px;
    left: 60px;
    border-right: 2px solid rgb(60,60,60);
    border-top: 2px solid rgb(60,60,60);
    border-bottom: 2px solid rgb(60,60,60);
    border-left: 1px solid rgb(60,60,60);
    border-radius: 4px 8px 8px 4px;
    -webkit-box-shadow: 4px 4px 10px -1px rgba(0,0,0,0.84);
    -moz-box-shadow: 4px 4px 10px -1px rgba(0,0,0,0.84);
    box-shadow: 4px 4px 10px -1px rgba(0,0,0,0.84);
    display: flex;
    flex-direction: column;
}
.mn{
    display: flex;
    align-items: center;
    padding: 10px 0 10px 10px;
    border-bottom: 1px solid rgb(60,60,60);
}
.mn h4{
    color: rgba(200,200,200,0.7);
    padding: 0 20px;
    width: 100%;
}
.mn h4:hover{
    color: white;
    transition: 0.4s;
    border-left: 6px solid rgba(255,255,255);
    cursor: pointer;
}
.me{
    background-image: url(../img/IMG_8870.JPG);
    background-size: cover;
    background-position: 0px -16px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.menu-large h2{
    color: white;
    padding-left: 30px;
}
/**CONTEUDO HOME**/
.content-home{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/**NAME**/
.nome-frase{
    text-align: center;
    width: 600px;
    color: white;
    background-color: rgba(0,0,0,0.4);
    padding: 30px;
    border-radius: 0 20px 0 20px;
    margin: 200px auto 0 auto;
    animation: namedown 1s linear;
}
.nome-frase svg{
    stroke-width: 1px;
    stroke: white;
    width: 100%;
    stroke-dashoffset: 1000;
    stroke-dasharray: 1000;
    animation: nomesvg 10s ease-in-out forwards;
    animation-delay: 1.5s;
}
@keyframes nomesvg{
    0%{stroke-dashoffset: 1000;}
    50%{stroke-dashoffset: 0;}
    100%{stroke-dashoffset: 0;}
}
.nome-frase h2{
    font-size: 32px;
    font-style: italic;
    text-align: center;
}
@keyframes namedown{
    0%{margin-top: -150px;}
    100%{margin-top: 200px;}
}
/**BOX-SOCIAL-MEDIA**/
.social-media{
    margin: 0 auto 70px auto;
    display: flex;
    justify-content: space-between;
    animation: mediaup 1s linear;
    border-radius: 20px;
}
.social-media a{
    margin: 10px;
    padding-bottom: 20px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 50%;
    box-shadow: 0 5px 15px -5px white;
    -moz-box-shadow: 0 5px 15px -5px white;
    -webkit-box-shadow: 0 5px 15px -5px white;
}
.social-media i{
    font-size: 35px;
    color: white;
    margin: 20px;
    transition: 0.3s linear;
}
.social-media a:hover {
    box-shadow: 0 10px 15px -2px white;
    -moz-box-shadow: 0 10px 15px -2px white;
    -webkit-box-shadow: 0 10px 15px -2px white;
}
.social-media a:hover > i{
    font-size: 50px;
}
@keyframes mediaup{
    0%{margin-bottom: -70px;}
    100%{margin-bottom: 70px;}
}
/**SECTION-ABOUT**/
section.about{
    position: absolute;
    top: 10%;
    left: 10%;
}
/**WINDOW STYLE**/
.window{
    width: 70vw;
    height: 70vh;
    background-color: rgba(235,235,245);
    border-radius: 10px;
    border: 1px solid rgb(30,30,30);
    display: none;
}
.top{
    width: 100%;
    padding: 6px 10px 0 10px;
    border-radius: 8px 8px 0 0;
    background-color: rgb(100,100,100);
}
.button-close{
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: rgba(255,0,0,0.5);
    border-radius: 50%;
    border: 1px solid rgb(30,30,30);
    cursor: pointer;
    display: inline-block;
}
.button-close:hover{
    background-color: rgb(255,0,0);
}
.button-close:hover > p{
    display: block;
}
.button-close p{
    font-size: 10px;
    font-weight: bold;
    line-height: 0;
    text-align: center;
    display: none;
    color: #7D100E;
    position: relative;
    top: 50%;
}
.window-name{
    display: inline-block;
    position: relative;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.window-name span{
    font-size: 12px;
    cursor: default;
}
/**CONTENT ABOUT-WINDOW**/
.name-about h1{
    margin: 30px 0;
    text-align: center;
}
.eu{
    margin: 2% auto;
    width: 250px;
    height: 250px;
    border-radius: 30%;
    background-image: url(../img/eu.png);
    background-size: 100%;
    background-position: bottom;
}
.eu-description{
    padding-top: 20px;
    margin: 0 auto;
    max-width: 50%;
    color: black;
}
/**SECTION-portfolio**/
section.portfolio{
    position: absolute;
    top: 13%;
    left: 13%;
}
/**CONTENT PORTFOLIO-WINDOW**/
section.portfolio i{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    color: rgb(30,30,30);
}
section.portfolio > .window > p{
    margin: 2% 0;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: black;
}
.portfolio-descricao-wraper{
    height: 75%;
    overflow-y: scroll;
}
.portfolio-descricao{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
}
.site{
    padding-top: 45%;
    width: 40%;
    background-color: white;
    margin: 20px auto;
    border: 2px solid black;
    border-radius: 5px;
    position: relative;
}
.site iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border: none;
}
/**SECTION-servicos**/
section.servicos{
    position: absolute;
    top: 16%;
    left: 16%;
}
/**CONTENT SERVICOS-WINDOW**/
section.servicos h1{
    margin: 4% 0;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: black;
}
.servicos-single{
    width: 50%;
    color: black;
    margin: 0 auto 20px auto;
}
.servicos-single i{
    font-size: 20px;
    color: #17a9b1;
    margin-right: 10px;
}
.servicos-single span{
    font-style: italic;
}
/**SECTION-CONTATO**/
section.contato{
    position: absolute;
    top: 19%;
    left: 19%;
}
/**CONTENT CONTATO-WINDOW**/
section.contato h1{
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 4% 0;
}
.contato-info{
    color: #03e9f4;
    text-align: center;
}
#contato-info1{
    margin-top: 20%;
}
.contato-info a{
    color: #03e9f4;
}
section.contato > .window > .social-media > nav{
    margin: 10% auto 0 auto;
}



/**RESPONSIVE**/

/**SECTION-portfolio**/
@media screen and (max-width: 768px){
    section.portfolio{
        top: 0;
        left: 45px;
    }
    /**content portfolio window**/
    section.portfolio > .window > p{
        margin: 25px 0;
    }
    .portfolio-descricao-wraper{
        height: 70vh;
        overflow-y: scroll;
    }
    .portfolio-descricao{
        width: 90%;
    }
    .site{
        padding-top: 90%;
        width: 90%;
    }
}
@media screen and (max-width: 768px){
    section.main{
        height: 100vh;
    }
    /**LATERAL MENU**/
    .menu-desktop{
        width: 45px;
    }
    .firstline, .secondline, .thirdline{
        width: 25px;
        margin: 5px auto;
    }
    .icons input:checked ~ label #menu-toggle .firstline{
        position: relative;
        top: 8px;
    }
    .icons input:checked ~ label #menu-toggle .thirdline{
        position: relative;
        top: -8px;
    }
    .icons > i:nth-of-type(1){
        padding-top: 20px;
    }
    .icons i{
        font-size: 30px;
        padding: 10px 0;
    }
    .icons p{
        font-size: 8px;
    }
    .clock{
        font-size: 13px;
        margin: 13px auto;
    }
    /*menu-click*/
    .menu-large{
        background-color: rgba(0,0,0,0.85);
        left: 40px;
        top: 5px;
    }
    /**content page**/
    .nome-frase{
        padding: 5px;
        width: 90%;
        margin: 200px auto 0 auto;
    }
    .nome-frase h2{
        font-size: 18px;
    }
    /**BOX-SOCIAL-MEDIA**/
    .social-media{
        max-width: 200px;
        margin: 0 auto 70px auto;
        position: relative;
        left: 13px;
    }
    /**SECTION ABOUT**/
    section.about{
        position: absolute;
        top: 0px;
        left: 45px;
    }
    /**window style**/
    .window{
        width: calc(100vw - 50px);
        height: 100vh;
    }
    .window-name{
        top: -5px;
    }
    .button-close p{
        top: 43%;
    }
    /**content about window**/
    .eu{
        margin: 25px auto;
    }
    .eu-description{
        padding: 0 15px;
        text-align: center;
    }
    /**SECTION-portfolio**/
    section.portfolio{
        top: 0;
        left: 45px;
    }
    /**content portfolio window**/
    section.portfolio > .window > p{
        margin: 25px 0;
    }
    .portfolio-descricao-wraper{
        height: 70vh;
        overflow-y: scroll;
    }
    .portfolio-descricao{
        width: 90%;
    }
    .site{
        padding-top: 90%;
        width: 90%;
    }
    /**SECTION-servicos**/
    section.servicos{
        top: 0;
        left: 45px;
    }
    /**content servicos window**/
    section.servicos h1{
        margin: 25px 0;
    }
    .servicos-single{
        width: 90%;
    }
    /**SECTION-CONTATO**/
    section.contato{
        top: 0;
        left: 45px;
    }
    /**content contact window**/
    section.contato h1{
        margin: 100px 0;
    }
    .contato-info{
        font-size: 12px;
    }
}

