*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-repeat: no-repeat;
}
    html,body{height: 100%;}
    a{text-decoration: none;}
    img{max-width: 100%;display: block;}
    .clear{clear: both;}
    a{text-decoration: none;}
    ul,li{list-style-type: none;}

/**AUX CLASSES**/
.center{
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;}
.clear{clear: both;}
.show{display: block !important;}
.hide{display: none !important;}
.zfront{z-index: 1 !important;}
.zback{z-index: none !important;}
