.icons input{
    display: none;
}
.icons input:checked ~ label #menu-toggle{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}
.icons input:checked ~ label #menu-toggle .firstline{
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    position: relative;
    top: 14px;
}
.icons input:checked ~ label #menu-toggle .thirdline{
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    position: relative;
    top: -12px;
}
.menu-wraper{
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}
.firstline, .secondline, .thirdline{
    width: 35px;
    border-radius: 20px;
    height: 3px;
    background-color: white;
    margin: 10px auto;
    transition: 0.7s ease-in-out;
}
.icons > i:nth-of-type(1){
    border-top: 1px solid rgb(60,60,60);
}
.icons{
    text-align: center;
}
.icons i{
    font-size: 40px;
    color: white;
    padding: 20px 0;
    cursor: pointer;
    text-align: center;
    transition: 1s;
}
.icons p{
    font-size: 12px;
    font-weight: bold;
    position: relative;
    top: -23px;
    left: -60px;
    transition: 1s;
}
.icons i:hover {
    color: transparent;
}
.menu-desktop i:hover > p{
    color: #03e9f4;
    position: relative;
    top: -23px;
    left: 0;
}
