.social-media{
    margin: 0 auto 70px auto;
    display: flex;
    justify-content: space-between;
    animation: mediaup 1s linear;
    border-radius: 20px;
}
.social-media a{
    margin: 10px;
    padding-bottom: 20px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 50%;
    box-shadow: 0 5px 15px -5px white;
    -moz-box-shadow: 0 5px 15px -5px white;
    -webkit-box-shadow: 0 5px 15px -5px white;
}
.social-media i{
    font-size: 35px;
    color: white;
    margin: 20px;
    transition: 0.3s linear;
}
.social-media a:hover {
    box-shadow: 0 10px 15px -2px white;
    -moz-box-shadow: 0 10px 15px -2px white;
    -webkit-box-shadow: 0 10px 15px -2px white;
}
.social-media a:hover > i{
    font-size: 50px;
}
@keyframes mediaup{
    0%{margin-bottom: -70px;}
    100%{margin-bottom: 70px;}
}